In [1]:
import pandas as pd
data = [[1, 'Joe', 85000, 1], [2, 'Henry', 80000, 2], [3, 'Sam', 60000, 2], [4, 'Max', 90000, 1], [5, 'Janet', 69000, 1], [6, 'Randy', 85000, 1], [7, 'Will', 70000, 1]]
employee = pd.DataFrame(data, columns=['id', 'name', 'salary', 'departmentId']).astype({'id':'Int64', 'name':'object', 'salary':'Int64', 'departmentId':'Int64'})
data = [[1, 'IT'], [2, 'Sales']]
department = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})

In [2]:
def top_three_salaries(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    top_salaries = employee[['salary','departmentId']].drop_duplicates().sort_values(by = 'salary',ascending=False).groupby('departmentId').head(3)
    top_salaries = pd.merge(top_salaries, department, left_on='departmentId',right_on='id').rename(columns={"name":"Department"}).drop(columns="id")
    return pd.merge(top_salaries,employee, on=['salary','departmentId'])[['Department','name','salary']].rename(columns={"name":"Employee","salary":"Salary"})

In [3]:
top_three_salaries(employee,department)

  Department Employee  Salary
0         IT      Max   90000
1         IT      Joe   85000
2         IT    Randy   85000
3         IT     Will   70000
4      Sales    Henry   80000
5      Sales      Sam   60000